* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-section {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/neon.jpg');
    background-size:  cover;
    background-position: center;
}