* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before, body::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(45deg, #1e40af, #3b82f6);
    filter: blur(80px);
    opacity: 0.5;
    z-index: 1;
    animation: floatBackground 4s infinite 2s ease-in-out;
}

@keyframes floatBackground {

}
.login-container {
    z-index: 10;
}